<div class="tile is-ancestor">

	<!-- BENUTZER HINZUFÜGEN-->
	<div class="tile is-6 is-vertical is-parent">
		<div class="tile is-child section">
			<p class="title">Benutzer hinzufügen</p>
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input id="admin_add_user_name" class="input" type="text" placeholder="bspw. Name">
				</div>
			</div>
			<div class="field">
				<label class="label">E-Mail</label>
				<div class="control">
					<input id="admin_add_user_email" class="input" type="email" placeholder="bspw. name@server.org">
				</div>
			</div>
			<a id="btAddUser" class="button is-info is-pulled-right" href="#" onclick="addUser(); return false;">
				Bestätigen
			</a>
		</div>
	</div>

	<!-- ROLLE HINZUFÜGEN-->
	<div class="tile is-parent">
		<div class="tile is-child section">
			<p class="title">Rolle hinzufügen</p>
			<div class="field">
				<label class="label">Name</label>
				<div class="control">
					<input id="admin_add_role_name" class="input" type="text" placeholder="bspw. admin">
				</div>
			</div>
			<div class="field">
				<label class="label">Beschreibung</label>
				<div class="control">
					<input id="admin_add_role_description" class="input" type="text">
				</div>
			</div>
			<a id="btAddRole" class="button is-info is-pulled-right" href="#" onclick="addRole(); return false;">
				Bestätigen
			</a>
		</div>
	</div>
</div>

<!-- BENUTZER LISTE-->
<div id="scroll2user" class="tile is-vertical table">
	<p class="title">Benutzer verwalten</p>
	<table id="table_users" class="table is-fullwidth">
		<thead>
			<tr>
				<th><a id="bt_uname" href=# onclick="sortTable('table_users', 0, 'bt_uname', true); return false;">Benutzer</a></th>
				<th><a id="bt_umail" href=# onclick="sortTable('table_users', 1, 'bt_umail', true); return false;">E-Mail</a></th>
				<th><a id="bt_uroles" href=# onclick="sortTable('table_users', 2, 'bt_uroles', true); return false;">Rollen</a></th>
				<th><a id="bt_uactive" href=# onclick="sortTable('table_users', 3, 'bt_uactive', true); return false;">aktiv</a></th>
				<th><a id="bt_usince" href=# onclick="sortTable('table_users', 4, 'bt_usince', true); return false;">Bestätigt seit</a></th>
				<th>bearbeiten</th>
				<th>löschen</th>
			</tr>
		</thead>
		<tbody>

			{% if users %}
			{% for user in users%}
			<tr>
				<td>{{ user.email }}</td>
				<td>
					{% for r in user.roles -%}
					{% if loop.index == 1 %}{{r.name}}{% else %}, {{r.name}}{% endif %}
					{%- endfor %}
				</td>
				<td><a id="tgU_{{user.id}}" href="#" onclick="toggleActive('{{user.id}}'); return false;">{{ user.active }}</a></td>
				<td>{{ user.confirmed_at }}</td>
				<td><a href="{{config.SUBDIR}}/admin/users/user/{{ user.id }}">bearbeiten</a></td>
				<td><a href="#" onclick="deleteUser('{{ user.id }}', '{{ user.email }}'); return false;">löschen</a></td>
			</tr>
			{% endfor %}
			{%endif %}
		</tbody>
	</table>
</div>


<!-- ROLLEN LISTE-->
<div id="scroll2role" class="tile is-vertical table">
	<p class="title">Rollen verwalten</p>
	<table id="table_roles" class="table is-fullwidth">
		<thead>
			<tr>
				<th><a id="bt_rname" href=# onclick="sortTable('table_roles', 0, 'bt_rname', true); return false;">Name</a></th>
				<th><a id="bt_ruser" href=# onclick="sortTable('table_roles', 1, 'bt_ruser', true); return false;">Benutzer</a></th>
				<th>bearbeiten</th>
				<th>löschen</th>
			</tr>
		</thead>
		<tbody>

			{% if roles %}
			{% for role in roles %}
			<tr>
				<td><b>{{ role.name }}</b></td>
				<td>
					{% for u in role.user -%}
					{% if loop.index == 1 %}{{u.email}}{% else %}, {{u.email}}{% endif %}
					{%-	endfor %}
				</td>
				<td><a href="{{config.SUBDIR}}/admin/users/role/{{ role.name }}">bearbeiten</a></td>
				<td><a href="#" onclick="deleteRole('{{role.id}}', '{{role.name}}'); return false;">löschen</a></td>
			</tr>
			{% endfor %}
			{%endif %}
		</tbody>
	</table>


</div>
