{% extends 'site/base.html' %}


{% block main_content %}

<div class="section content">
	<div class="tile is-ancestor">
		<div class="tile is-parent">
			<div class="tile is-child">
					<h1>Benutzer - {{ user.email }}</h1>
					<h3>Rollen</h3>
					<p>
					{% for r in roles %}
					{% if user.has_role(r) %}
					<a id="u2r_{{ r.name }}_{{ user.id }}" class="button is-success spaced" href="#" onclick="editUserInRole('0','{{ user.id }}', '{{ r.name }}'); return false;">{{ r.name }}</a>
					{% else %}
					<a class="button is-danger spaced" id="u2r_{{ r.name }}_{{ user.id }}" href="#" onclick="editUserInRole('1','{{ user.id }}', '{{ r.name }}'); return false;">{{ r.name }}</a>
					{% endif %}
					{% endfor %}
					</p>
					<p><a class="button is-info is-pulled-right" href="/admin/users">Fertig</a></p>
			</div>
		</div>
	</div>
</div>


{% endblock %}
