<!-- ADMIN MENU -->
{% macro render_admin_menu(selected) %}
<div class="tabs">
    <ul>
        {% if current_user.has_role('admin') %}<li class="{% if selected == 'users' %}is-active{% endif %}"><a href="/admin">Benutzer und Rollen</a></li>{% endif %}
        {% if current_user.has_role('admin') %}<li class="{% if selected == 'boards' %}is-active{% endif %}"><a href="/admin/boards">Soundboards</a></li>{% endif %}
        {% if current_user.has_role('admin') %}<li class="{% if selected == 'sounds' %}is-active{% endif %}"><a href="/admin/sounds">Sounds</a></li>{% endif %}
    </ul>
</div>
{% endmacro %}

{% macro render_soundcard(sound) %}
<div class="card ">
    <div class="card-image">
        <figure class="image is-3by1">
            <img src="{{ url_for('site.static', filename='images/soundcard_default.png')}}" alt="not found">
        </figure>
    </div>
    <div class="card-content">
        <div class="">
            <p class="is-size-5">{{sound.name}}<br><span class="is-size-7">{{sound.description}}</span></p>
        </div>
    </div>
    <footer class="card-footer">
        <a id="sound_{{sound.id}}" onclick="playAudio({{sound.id}}); return false;" href="#" class="card-footer-item"><i id="icon_sound_{{sound.id}}" class="fas fa-play"></i></a>
        <a onclick="stopAudio({{sound.id}}); return false;" href="#" class="card-footer-item"><i class="fas fa-stop"></i></a>
    </footer>
</div>
{% endmacro %}

{% macro include_soundfile(sound) %}
<audio id="{{sound.id}}">
{% if sound.filename and path.exists(sound.filename) and path.getsize(sound.filename) > 0 %}
    <source src="{{ url_for('static', filename=sound.soundfile)}}" type="audio/ogg">
{% else %}
    <source src="" type="audio/mpeg">
{% endif %} 
error
</audio>
{% endmacro %}

{% macro render_create_edit_board(sounds, board) %}
<div class="tile is-child section">
    <p class="title">Board hinzufügen</p>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input id="tb_name" class="input" type="text" value="{% if board %}{{board.name}}{% endif %}">
        </div>
    </div>
    <div id="sounds_to_board" class="field">
        {% for s in sounds %}
        <a id="sound_{{ s.id}}" data-id="{{ s.id}}" class="button spaced {% if board and s in board.sounds %}is-success{% else %}is-danger{% endif %}" href="#" onclick="toggleSoundToBoard('{{ s.id }}'); return false;">{{ s.name }}</a> {% endfor %}
    </div>
    <br/>
    <a id="bt_submit" class="button is-info is-pulled-right" href="#" onclick="submitBoard({% if board %}{{board.id}}{% else %}-1{% endif %}); return false;">
        Bestätigen
    </a>
</div>
{% endmacro %} {% macro render_create_edit_sound(boards, sound) %}
<div class="tile is-child section">
    <p class="title">Sound hinzufügen</p>
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input id="tb_name" class="input" type="text" placeholder="z.B. nix ist für free" value="{% if sound%}{{sound.name}}{% endif %}">
        </div>
    </div>
    <div class="field">
        <label class="label">Beschreibung</label>
        <div class="control">
            <input id="tb_description" class="input" type="test" placeholder="z.B. Österreicher weiss bescheid" value="{% if sound%}{{sound.name}}{% endif %}">
        </div>
    </div>
    <div class="field">
        <label class="label">Sounddatei (<1MB, ogg)</label>
        <div class="file has-name is-boxed">
            <input type="file" class="inputfile inputfile-2" id="soundfile">
            <label for="file"></span></label>
        </div>
    </div>
    <br/>
    <div id="sounds_to_board" class="field">
        <label class="label">Boards</label> {% for b in boards %}
        <a id="sound_{{ b.id}}" data-id="{{ b.id}}" class="button spaced {% if sound and b in sound.boards %}is-success{% else %}is-danger{% endif %}" href="#" onclick="toggleSoundToBoard('{{ b.id }}'); return false;">{{ b.name }}</a> {% endfor %}
    </div>
    <br/>
    <a id="bt_submit" class="button is-info is-pulled-right" href="#" onclick="submitSound({% if sound %}{{sound.id}}{% else %}-1{% endif %}); return false;">
				Bestätigen
			</a>
</div>
{% endmacro %}
