/* größe und abstand rechts von flaggen icons bei language selection*/

/* label { display: inline-block; min-width: 120px; text-align: right; }*/

.flag {
	height: 14px;
	margin: 0 4px;
	width: 21px;
}

.small-text{
	font-size: .5em;
	/* margin: 0;*/
	/* padding: 0;*/
}

.popup-content{
	margin: 0 4px;
	width: 144px;
}

.width32{
	width: 32px;
}

.width64{
	width: 64px;
}

.width74{
	width: 74px;
}



.hspace-small {
	height: .5em;
	width: 100%;
}

.hspace {
	height: 2em;
	width: 100%;
}

.spaced{
	margin: 4px;
}
