{% from 'site/includes/_formhelpers.html' import render_soundcard, include_soundfile %}
{% extends 'site/base.html' %}

{% block main_content %}

<!-- MESSAGES-->
{% include 'site/includes/_messages.html' %}

<!-- SOUNDCARDS -->
<div class="container content-wrapper">
<div class="columns is-multiline">
<!-- <div class="section"> -->
<!-- <div class="columns is-multiline is-centered has-text-centered is-fullwidth"> -->
    {% for s in board.sounds %}
            {{ include_soundfile(s) }}
            {{ render_soundcard(s) }}
    {% endfor %}
</div>
</div>

{% endblock %}
