<!-- MENU -->
{% macro render_menu(board, boards, sounds, selected) %}
<div class="tabs">
    <ul>
        <li{% if selected == "charts" %} class="is-active" {% endif %}>
            <a href="/beste">
            <span class="icon is-small"><i class="fas fa-star" aria-hidden="true"></i></span>
            <span>Beste</span>
            </a>
        </li>
        {% for b in boards %}
        <li{% if b==board %} class="is-active" {% endif %}>
                {% if b.name == 'spezial' %}
                {% if current_user.has_role('spezial') %}
                <a href='/spezial'>
                <span class="icon is-small"><i class="fas fa-comment" aria-hidden="true"></i></span>
                <span>Spezial</span>
                </a> {% endif %}
                {% else %}
                <a href='/board/{{b.id}}'>
                    <span class="icon is-small"><i class="fas fa-comment" aria-hidden="true"></i></span>
                    <span>{{b.name}}</span>
                </a>
                {% endif %}
                </li>
                {% endfor %}
                <li{% if selected == "search" %} class="is-active" {% endif %}>
                <a href="/search">
                <span class="icon is-small"><i class="fas fa-search" aria-hidden="true"></i></span>
                <span>Suche</span>
            </a>
                </li>
    </ul>
    <button class="is-pulled-right" onclick="modalSoundspende(); return false;"><i class="fas fa-exclamation-triangle red"></i>Soundspende<i class="fas fa-exclamation-triangle red"></i></button>
</div>
{% endmacro %}

{% macro render_search_field(js_func) %}
<div class="field">
    <p id="div_search" class="control has-icons-left">
        <input id="tb_search" class="input"  onkeyup="{{js_func}}; return false;" type="text" placeholder="Suche">
        <span class="icon is-small is-left">
          <i class="fas fa-search"></i>
        </span>
    </p>
</div>
{% endmacro %}

<!-- SOUNDCARD -->
{% macro render_soundcard(sound) %}
<div id="soundcard_{{sound.id}}" class="column is-2 desktop-only soundcard">
    <div class="card ">
        <div class="card-content">
            <div class="">
                <span class="is-size-5 has-text-weight-bold">{{sound.name}}</span><br><span class="is-size-7 has-text-weight-normal">{{sound.description}}</span>
            </div>
        </div>
        <footer class="card-footer">
            <a id="sound_{{sound.id}}" onclick="playAudio({{sound.id}}); return false;" href="#" class="card-footer-item"><i id="icon_sound_{{sound.id}}" class="fas fa-play"></i></a>
            <a onclick="stopAudio({{sound.id}}); return false;" href="#" class="card-footer-item"><i class="fas fa-stop"></i></a>
        </footer>
        <div class="card-footer has-text-info is-size-7">
            <div class="content">
            {% for t in sound.tags %}
            <u>{{t.tag}}</u>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

<!-- SOUNDFILE -->
{% macro include_soundfile(sound) %}
<audio id="{{sound.id}}">
    <source src="{{ url_for('static', filename=sound.soundfile)}}" type="audio/ogg">
    error
</audio> {% endmacro %}

<!-- SOUNDSPENDE -->
{% macro render_soundspende(tags) %}
<div class="modal-card">
    <section class="modal-card-body">
    <p class="title">Sound hinzufügen</p>
    <!-- NAME -->
    <div class="field">
        <label class="label">Name</label>
        <div class="control">
            <input id="tb_name" class="input" type="text" placeholder="z.B. nix ist für free"">
        </div>
    </div>
    <!-- BESCHREIBUNG -->
    <div class="field">
        <label class="label">Beschreibung</label>
        <div class="control">
            <input id="tb_description" class="input" type="test" placeholder="z.B. Österreicher weiss bescheid"">
        </div>
    </div>
    <!-- SOUNDDATEI -->
    <div class="field">
        <label class="label">Sounddatei (<1MB, ogg)</label>
        <div class="file has-name is-boxed">
            <input type="file" class="inputfile inputfile-2" id="soundfile">
            <label for="file"></label>
        </div>
    </div>
    <!-- TAGS -->
    <div class="field">
        <label class="label">Tags</label>
        <div class="control">
            <input id="tb_tags" class="input" type="test" placeholder="Jingle, Hans Jessen, Verstand">
        </div>
        <div id="tags" class="control">
        {% for t in tags %}
            <a id="tag_{{t.id}}" data-id="{{ t.id}}" class="button spaced is-danger" href="#" onclick="toggleButton('{{ t.id }}', 'tag_'); return false;">{{ t.tag }}</a>
        {% endfor %}
        </div>
    </div>
    <br/>
    <a id="bt_submit" class="button is-info is-pulled-right" href="#" onclick="submitSoundspende(); return false;">
        Bestätigen
    </a>

    </section>
</div>
{% endmacro %}
